---
layout: default
---
<script>
        var hide_lists = function(cb){
            $('#posts').fadeOut(300);
            $('#projects').fadeOut(300);
            $('#posts-btn').removeClass('disabled');
            $('#projects-btn').removeClass('disabled');
        }
        var show_projects = function(){
            $('#posts-btn').removeClass('disabled');
            $('#posts').fadeOut(300, function(){
                $('#projects').fadeIn(300);
            });
            $('#projects-btn').addClass('disabled');
        }
        var show_posts = function(){
            $('#projects-btn').removeClass('disabled');
            $('#projects').fadeOut(function(){
                $('#posts').fadeIn(300);
            });
            $('#posts-btn').addClass('disabled');
        }
</script>
<div>
  <a id="posts-btn" class="waves-effect waves-teal btn-flat btn-large" onclick="show_posts();">{{ site.posts_btn }}</a>
  <a id="projects-btn" class="waves-effect waves-teal btn-flat btn-large" onclick="show_projects();">{{ site.projects_btn }}</a>
</div>
<div id="posts">

  <h2 class="my-mini-heading">{{ site.posts_btn }}</h2>

  <ul>
    {% for post in site.posts %}
    <li>
      <p class="my-item">
        <a href="{{ post.url | prepend: site.baseurl }}" class="my-link">{{ post.title }}</a><br>
        <span class="my-item-sub">{{ post.date | date: "%b %-d, %Y" }}</span>
      </p>
    </li>
    {% endfor %}
    <li>
      <p class="my-item">
        <a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="my-link"><i class="fa fa-rss" aria-hidden="true"></i> RSS</a><br>
        <span class="my-item-sub">Feed abbonieren!</span>
    </li>
  </ul>

  <div>
    <a onclick="hide_lists();" class="waves-effect waves-teal btn-flat btn-large">{{ site.close_btn }}</a>
  </div>
</div>


<div id="projects">
  <h2 class="my-mini-heading">{{ site.projects_btn }}</h2>
  <ul>
    {% for project in site.data.projects %}
    <li>
      <p class="my-item"><a href="{{ project.link }}" class="my-link">{{ project.name }}</a><br>
      <span class="my-item-sub">
        {{ project.description }}
      </span>
      </p>
    </li>
    {% endfor %}
  </ul>
  <div>
    <a onclick="hide_lists();" class="waves-effect waves-teal btn-flat btn-large">{{ site.close_btn }}</a>
  </div>
</div>
