<footer class="my-footer z-depth-2">
    <p>
        <a class="waves-effect waves-teal btn-flat my-imprint-link" href="{{ "/imprint.html" | prepend: site.baseurl }}">{{ site.imprint_btn }}</a>
        {% if site.email %}
        <a href="mailto:{{ site.email }}" class="waves-effect waves-teal btn-flat my-mail-link"><i class="fa fa-envelope-o"></i></a>
        {% endif %}
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" class="waves-effect waves-teal btn-flat my-github-link"><i class="fa fa-github"></i></a>
        {% endif %}
        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" class="waves-effect waves-teal btn-flat my-twitter-link"><i class="fa fa-twitter"></i></a>
        {% endif %}
    </p>
</footer>
<script type="text/javascript" src="{{ "/styles/jquery.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/styles/mlz/mlz.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/styles/headroom.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/styles/jQuery.headroom.js" | prepend: site.baseurl }}"></script>
<script> $(".my-footer").headroom(); </script>
{% if site.g_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.g_analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
