<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="robots" content="index,follow">
    {% if page.}
    {% if page.author %}
        <meta name="author" content="{{ page.author}}">
    {% endif %}

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="himsel.me">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ site.url }}/images/favicon.png" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="{% if site.twitter_username %}{{ site.twitter_username }}{% else %} "lukas-h" {% endif %}" />
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="twitter:description" content="{{ site.description }}" />
    <meta property="twitter:image" content="{{ site.url }}/images/favicon.png" />

    <link href="{{ "/atom.xml" | prepend: site.baseurl }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ "/feed.xml" | prepend: site.baseurl }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">


    <link rel="shortcut icon" href="{{ " /images/favicon.png " | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/styles/mlz.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/styles/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/styles/fa/css/font-awesome.min.css" | prepend: site.baseurl }}">

</head>