---
layout: default
---
<article class="left-align">

  <h2 class="my-mini-heading">{{ page.title }}<br>
    <span class="my-mini-heading-sub">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
    </span></h2>

  <div class="my-text-body">
    {{ content }}
  </div>

  {% if page.author %}
  <p class="my-text-author">{{ site.name_badge }} {{ page.author }}</p>
  {% endif %}

  {% if page.tags %}
    <p>
      <i class="fa fa-tags" aria-hidden="true"></i>
      {% for tag in page.tags %}
        <span class="my-tag">{{ tag }}</span>&ensp;
      {% endfor %}
    </p>
  {% endif %}

  <div class="center-align">
  {% if page.previous.url %}<a class="waves-effect waves-teal btn-flat btn-large my-thin-btn" href="{{ page.previous.url | prepend: site.baseurl }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>{% endif %}
  <a class="waves-effect waves-teal btn-flat btn-large" href="{{ site.baseurl }}/">{{ site.home_btn }}</a>
  {% if page.next.url %}<a class="waves-effect waves-teal btn-flat btn-large my-thin-btn" href="{{ page.next.url | prepend: site.baseurl }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>{% endif %}
  </div>
</article>