---
layout: default
---
<article class="left-align">

  <h1 class="my-mini-heading">{{ page.title }}<br>
    <span class="my-mini-heading-sub">
    <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
    </span></h1>

  <div class="my-text-body">
    {{ content }}
  </div>
  {% if page.author %}
  <p class="my-text-author">{{ site.name_badge }} {{ page.author }}</p>
  {% endif %}
  <div class="center-align">
  <a class="waves-effect waves-teal btn-flat btn-large" href="{{ site.baseurl }}/">{{ site.home_btn }}</a>
  </div>
</article>